.date {
  font-weight: bold;
  font-size: 40px;
}
.hobbies {
  font-weight: bold;
  font-size: 30px;
}
.activities {
  font-weight: bold;
  font-size: 30px;
}
.nike{
 width: 350px;
 height: 300px;
 float: right;
}
.nike2{
  width: 350px;
  height: 300px;
  float: left;
}
.nike3{
  width: 800px;
  height: 500px;
  float: none;
  padding-left: 40px;
}
.col-md-4{
  font-size: 11px;
}
.jumbotron{
  background-color: orange;
}
.nikehq{
  border: 2px;
}
.bg-success{
  font-weight: bold;
h1 {
  color: orange;
}
.diff.lang{
  font-style: italic;
}
.vapormax{
  width: 600px;
  height: 400px;
margin-left: 125px;
}
