.date {
  font-weight: bold;
  font-size: 100px;
}
.hobbies {
  font-weight: bold;
  font-size: 45px;
}
.activities {
  font-weight: bold;
  font-size: 30px;
}
.nike{
 width: 350px;
 height: 300px;
 float: right;
}
.nike2{
  width: 350px;
  height: 300px;
  float: left;
}
.nike3{
  width: 1100px;
  height: 600px;
  float: left;
  padding-left: 50px;
  margin-left: auto;
}
.col-md-4{
  font-size: 11px;
}
.jumbotron{
  background-color: orange;
}
.nikehq{
  border: 2px;
}
.bg-success{
  font-weight: bold;
h1 {
  color: orange;
}
.diff.lang{
  font-style: italic;
}
